<table class="table">
    <tr>
        <th>#</th>
        <th>Task Name</th>
        <th>Controls</th>
    </tr>
    <tr ng-repeat="task in todo.tasks" ng-class="{ complete:task.complete }" ng-hide="task.remove">
        <td>{{task.id}}</th>
        <td class="task-name">{{task.name}}</td>
        <td>
            <button class="btn btn-default" type="submit" ng-click="todo.completeTask(task)">Complete</button>
            <button class="btn btn-default" type="submit" ng-click="todo.removeTask(task)">Delete</button>
        </td>
    </tr>
</table>